/* Input fields */
@input-padding: @spacer-sm;

@input-bg: @palette-white;
@input-bg-disabled: @palette-gray-5;
@input-bg-invalid: lighten(@palette-red-80,90%);
@input-bg-readonly: @palette-gray-5;

@input-borderWidth: 1px;
@input-borderWidth-bottom: 2px;

@input-borderColor-base: @palette-gray-10;
@input-borderColor-hover: @palette-gray-20;
@input-borderColor-active: @palette-gray-40;
@input-borderColor-disabled: @palette-gray-20;
@input-borderColor-readonly: @palette-gray-20;
@input-borderColor-invalid: @palette-red-120;
@input-borderRadius: 0;

@input-color: @fontColor-base; 
@input-fontSize: @fontSize-base;
@input-lineHeight: @lineHeight-base;


/* Icons inside inputs */
@input-icon-gap: @spacer-xs;
@input-icon-size-inline: @lineHeight-base; // For icons which appear INSIDE a standard text-input field 


/* Labels */
@label-fontSize-base: @fontSize-base;
@label-fontSize-supplemental: @fontSize-sm;

@label-color-base: @fontColor-base;
@label-color-help: @fontColor-soft;
@label-color-error: @palette-red-120;

@label-gap: @spacer-xs;

@label-padding-optional: 0;
@label-bg-optional: @fontColor-feature;
@label-color-optional: @fontColor-base;


/* Fieldset and Legend */
@legend-fontSize: @fontSize-base;
@legend-fontColor: @fontColor-soft;
@legend-gap: (@spacer-xs / 2);

/* Checkboxes and Radio */
@input-selection-size: @spacer-xl ; // For radio and checkbox inputs
@input-selection-bg-empty: @input-bg;
@input-selection-bg-active: @fontColor-feature;
@input-selection-border-empty: 2px solid @palette-gray-20;
@input-selection-border-hover: 2px solid @palette-gray-40;
@input-selection-border-active: 2px solid @sodaville-gold-120;
@input-selection-fontWeight: bold;
@input-selection-fontSize: @fontSize-xl;
@input-selection-fontColor: @fontColor-inverse;
@input-selection-textShadow: @dropShadow-sm;

@input-selection-gap: @spacer-sm; // used for a margin-bottom between selection options
@input-selection-mark-size: ~"calc(" @input-selection-size ~"+ 4px)"; // Add up the TOTAL border-size
@input-checkbox-borderRadius: @borderRadius-sm;
@input-checkbox-mark: '\2714'; //a tick glyph - hopefully

@input-radio-borderRadius: 50%;
@input-radio-mark-border: @spacer-sm solid @input-selection-bg-active;